<p>"Welcome to the STT-Challenge"</p>

<p>
  Challenge Overview: <br />Welcome to the **Transcription Accuracy Challenge**!
  This challenge is designed to evaluate the accuracy of automatic transcription
  systems. Participants will work on a dataset of audio transcriptions and
  submit their outputs in JSON format. The goal is to achieve the highest
  transcription accuracy based on two critical metrics: **Word Error Rate
  (WER)** and **Character Error Rate (CER). <br />Challenge Format: Participants
  will be provided with a ground truth dataset. - The evaluation script will
  compute the WER and CER of the submissions compared to the ground truth. -
  Submissions will be ranked based on their accuracy scores. <br />Objective:
  <br />The challenge aims to encourage innovation in speech recognition and
  transcription models by providing a robust evaluation framework. Whether you
  are fine-tuning pre-trained models or building systems from scratch, this is
  your chance to showcase your expertise! Good luck, and may the best
  transcription win!
</p>
